@import "tailwindcss";

h1 {
  @apply text-3xl font-bold
}

h2 {
  @apply text-2xl font-bold
}

a {
  @apply hover:underline underline-offset-4
}

button {
  @apply transition duration-200 ease-in-out text-slate-600 bg-slate-50 ring ring-slate-400 hover:bg-slate-600! hover:text-white hover:border-slate-600! rounded-md p-2 my-2 block cursor-pointer
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
